

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
}
/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    transition: all 0.3s ease;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.logo {
    font-size: 1.8rem;
    font-weight: 800;
    color: #ffffff;
}
.logo span {
    color: #facc15;
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-link {
    color: #d1d5db;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-link:hover {
    color: #facc15;
}

/* Footer */
.footer {
    background: #000000;
    border-top: 1px solid rgba(112, 112, 112, 0.3);
    padding: 2rem 0;
}

.footer-content {
    text-align: center;
}

.seção-homenagem {
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.homenagem-info {
    font-size: 2rem;
    font-weight: 800;
    color: #facc15;
    margin-bottom: 0.5rem;
}

.homenagem {
    color: #d1d5db;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.data-homenagem {
    color: #9ca3af;
    font-size: 0.875rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1rem 0;
   
}

.social-link {
    color: #9ca3af;
    transition: color 0.3s ease;
    
}

.social-link:hover {
    color: #facc15;
}

.creditos {
    border-top: 1px solid rgba(112, 112, 112, 0.3);
    padding-top: 1rem;
}

.creditos p {
    color: #9ca3af;
    font-size: 0.875rem;
}

.creditos span {
    color: #facc15;
    font-weight: 600;
}

.site-info {
    color: #6b7280 !important;
    font-size: 0.75rem !important;
    margin-top: 0.25rem;
}


@media (max-width: 459px) {
    .logo{
        display: none;
    }

    .nav{
        justify-content: center;
        margin-top: 0.8rem;
    }
    .hero-frase{
        font-size: 0.10rem;
        padding: 2rem;
        margin-bottom: 1rem;
    }
    
}

@media (max-width: 580px) {

    

    .hero-buttons { 
        align-items: center;
    }
    
    .musicas-grid, 
    .albuns-grid {
        grid-template-columns: 1fr;
    }
}

